<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

    <form class="am-form" action="/login/" method="post">
    {% csrf_token %}
        <fieldset>
            <div class="page-header" align="center"><h1>登录</h1></div>

            <div class="form-group input-group-lg">
                <label for="id"><h2>用户名</h2></label>
                <input type="text" class="form-control" id="id" name="id" placeholder="学工号">
            </div>

            <div class="form-group input-group-lg">
                <label for="password"><h2>密码</h2></label>
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="密码">
            </div>
            <button type="submit" class="btn btn-default btn-block btn-lg">登录</button>
        </fieldset>
    </form>

</div>
</body>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>